<!DOCTYPE html>
<html>
<head>
  <title>Game Finder</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div id="inputGame" class="field has-addons">
        <div class="control">
          <input type="text" id="getGameInput" placeholder="Game Title" class="input"/>
        </div>
        <div class="control">
          <a id="gameBtn" class="button is-info">Find Game</a>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-8 is-offset-1">
      <div class="columns" id="games">
      </div>
    </div>
  </div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script>
$(document).ready(() => {
	$('#gameBtn').click(() => {
		$('#games').empty();
		$.ajax({
			type: 'POST',
			url: `/findGames/${$('#getGameInput').val()}`,
			success: data => {
				console.log(data);
				data.forEach(el => {
          if( el.developers === undefined || el.release_dates === undefined || el.cover === undefined) return;
					let platforms = [];
					el.release_dates.forEach(platform => {
						if (
							platform.platform === 49 &&
							platforms.indexOf('Xbox One') === -1
						) {
							platforms.push('Xbox One');
						} else if (
							platform.platform === 48 &&
							platforms.indexOf('Playstation 4') === -1
						) {
							platforms.push('Playstation 4');
						} else {
							return;
						}
					});
					platforms = platforms
						.map(el => `<button class="button" name="${el.replace(' ', '')}">${el}</button>`)
						.join('');
					$('#games').append(`

            <div class="column is-3">
            <div class="card" style="margin-bottom: 10px;">
              <div class="card-image">
                <figure class="image is-1by1">
                  <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/${el.cover.cloudinary_id}.jpg" alt="${el.name}">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <h4 class="title is-4">${el.name}</h4>
                  <h5 class="subtitle is-5"> Select Platform: <br> ${platforms}</h5>
                </div>
              </div>
            </div>
          </div>

          `);
				});
			}
		});
	});
});

</script>
</body>
</html>
