<!DOCTYPE html>
<html>
<head>
  <title>Game Finder</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li>Game Trader</li>
          <li><a href="/">Home</a></li>
          <li><a href="/findgames">Add Trades</a></li>
          <li><a href="/traderequests">Trade Requests
            {{#if tradeReqs}}
            <span id="tradeReqs" class="badge">{{tradeReqs}}</span>
            {{/if}}</a></li>
            <li>Account</li>
            {{#if loggedIn}}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>

    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5">
          {{#if noGames}}
          <div class="alert alert-dismissible alert-danger">
  <button class="close" type="button" data-dismiss="alert">&times;</button>
  {{noGames}}
</div>
          {{/if}}
          <h2 class="text-center">Lookup your games below -- <small>Playstation 4 or Xbox One</small></h2>

      <div id="inputGame" class="input-group">

          <input type="text" id="getGameInput" placeholder="Game Title" class="form-control"/>
          <span class="input-group-btn">
          <a id="gameBtn" class="btn btn-primary">Find Game</a>
        </span>
        </div>
      </div>
    </div>
      <div class="row" style="margin-top: 20px;">
        <div id="games" class="row">
  </div>
  </div>
</div>
</div>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="/js/bootstrap.min.js"></script>
<script>
$(document).ready(() => {
	$('#gameBtn').click(() => {
		$('#games').empty();
		$.ajax({
			type: 'POST',
			url: `/findGames/${$('#getGameInput').val()}`,
			success: data => {
				console.log(data);
				data.forEach(el => {
          if( el.developers === undefined || el.release_dates === undefined || el.cover === undefined) return;
					let platforms = [];
					el.release_dates.forEach(platform => {
						if (
							platform.platform === 49 &&
							platforms.indexOf('Xbox One') === -1
						) {
							platforms.push('Xbox One');
						} else if (
							platform.platform === 48 &&
							platforms.indexOf('Playstation 4') === -1
						) {
							platforms.push('Playstation 4');
						} else {
							return;
						}
					});
					platforms = platforms
						.map(plat => `<button class="btn btn-default btn-sm ${plat.replace(' ', '')}" id="${el.id}">${plat}</button>`)
						.join(' ');
					$('#games').append(`

            <div class="col-md-2">
              <div class="row">
              <div class="col-md-12">
                <div class="thumbnail">
                  <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/${el.cover.cloudinary_id}.jpg" alt="${el.name}" class="img-rounded" style="width:230px; height:315px;">
                  <h4>${el.name}</h4>
                  <h5> Select Platform: <br> ${platforms}</h5>
                </div>
              </div>
            </div>
          </div>

          `);
				});
			}
		});
	});

  $(document).on('click', '.XboxOne', (e) => {
    console.log(`clicked`);
    console.log(e.target.id);
    $.ajax({
      type: 'POST',
      url: `/addGame/${e.target.id}/Xbox One`,
      success: data => {
        console.log(data);
      }
    })
  })

  $(document).on('click', '.Playstation4', (e) => {
    console.log(`clicked`);
    console.log(e.target.id);
    $.ajax({
      type: 'POST',
      url: `/addGame/${e.target.id}/Playstation 4`,
      success: data => {
        console.log(data);
      }
    })
  })

});

</script>
</body>
</html>
