<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li>Game Trader</li>
          <li><a href="/">Home</a></li>
          <li><a href="/findgames">Add Trades</a></li>
          <li><a href="/traderequests">Trade Requests
            {{#if tradeReqs}}
            <span id="tradeReqs" class="badge">{{tradeReqs}}</span>
            {{/if}}</a></li>
            <li>Account</li>
            {{#if loggedIn}}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      <div class="col-md-2 col-md-offset-3">
        {{#if failedLogin}}
        <div class="alert alert-dismissible alert-danger">
  <button class="close" type="button" data-dismiss="alert">&times;</button>
{{failedLogin}}
</div>

        {{/if}}
  <form action="/login" method="post">
    <div class="form-group">
        <label>Username:</label>
        <input type="text" name="username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" class="form-control" />
    </div>

        <button type="submit" class="btn btn-primary"/>Login </button>
        <a href='/login/register' class="btn btn-warning">Register</a>
</form>
</div>
</div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="/js/bootstrap.min.js"></script>
  </body>
  </html>
