<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li>Game Trader</li>
          <li><a href="/">Home</a></li>
          <li><a href="/findgames">Add Trades</a></li>
          <li><a href="/traderequests">Trade Requests
            {{#if tradeReqs}}
            <span id="tradeReqs" class="badge">{{tradeReqs}}</span>
            {{/if}}</a></li>
            <li>Account</li>
            {{#if loggedIn}}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
        <div class="col-md-2 col-md-offset-3">
          {{#if usernameExists}}
          <p class="text-danger">{{usernameExists}}</p>
          {{/if}}
          <form action="/login/register" method="post" onsubmit="return passCheck()">
            <div class="form-group">
              <label>Username</label>
              <input class="form-control" type="text" name="username" required/>
            </div>
            <div class="form-group">
              <label>E-mail</label>
              <input class="form-control" type="email" name="email" required/>
              <p class="text-warning">E-mail will only be shared for communication purposes of approved trades</p>
            </div>
            <div class="form-group passwordField">
              <label>Password</label>
              <input class="form-control" type="password" id="password" name="password" minLength="8" required />
            </div>
            <div class="form-group passwordField">
              <label>Confirm Password</label>
              <input class="form-control" type="password" id="password2" name="password2" minLength="8" required />
            </div>
            <div class="form-group">
              <label>City</label>
              <input class="form-control" type="text" name="city" required/>
            </div>
            <div class="form-group">
              <label>State</label>
              <input class="form-control" type="text" name="state" maxLength="2" required/>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit" value="Log In"/>Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
<script>
    const passCheck = () => {
	if ($('#password').val() !== $('#password2').val()) {
		alert("Passwords don't match. Please provide matching passwords.");
		$('.passwordField').addClass('has-error');
		return false;
	} else {
		return true;
	}
};

</script>
</body>
</html>
